<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: copy"></head>

<body>
	<header th:replace="header :: copy"></header>
	<div class="container">
		<main role="main" class="pb-3">
			<h1>Lista przepisów</h1>


			<table class="table" th:if="${recipeDtos}">
				<thead>
				<tr>
					<th>
						Przepis
					</th>
					<th>
						Kategoria
					</th>
					<th>
						Ocena
					</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="recipe : ${recipeDtos}">
					<td th:text="${recipe.name}"></td>
					<td th:text="${recipe.category}"></td>
					<td th:text="${recipe.rating}"></td>
					<td>
						<a class="index-detail-btn" th:href="@{'details/' + ${recipe.name}}">Szczegóły</a>
					</td>
				</tr>
				</tbody>
			</table>
		</main>
	</div>

	<footer th:replace="footer :: copy"></footer>
</body>
</html>
