<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{head :: copy}"></head>

<body>
<header th:replace="~{header :: copy}"></header>
<div class="container">
    <main role="main" class="pb-3">
        <h1>Panel Administratora</h1>
        <div>
            <a class="btn btn-primary" th:href="@{/admin/users/manage}">Zarządzaj Użytkownikami</a>
            <a class="btn btn-primary" th:href="@{/admin/recipes/manage}">Zarządzaj Przepisami</a>
        </div>
    </main>
</div>
<footer th:replace="~{footer :: copy}"></footer>
</body>
</html>
