<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{head :: copy}"></head>

<body>
<header th:replace="~{header :: copy}"></header>
<div class="container">
    <main role="main" class="pb-3">
        <h1>Edytuj Przepis</h1>

        <form th:action="@{/admin/recipes/edit}" th:object="${recipeDto}" method="post">
            <div class="form-group">
                <label for="name">Nazwa</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nazwa przepisu" required/>
            </div>

            <div class="form-group">
                <label for="description">Opis</label>
                <textarea class="form-control" id="description" th:field="*{description}" placeholder="Opis przepisu" rows="5"></textarea>
            </div>

            <div class="form-group">
                <label for="category">Kategoria</label>
                <select class="form-control" id="category" th:field="*{category}">
                    <option th:each="category : ${T(org.example.dto.CategoryDto).values()}"
                            th:value="${category}"
                            th:text="${category}">Kategoria</option>
                </select>
            </div>

            <div class="form-group">
                <label>Produkty</label>
                <div th:each="product, iterStat : ${recipeDto.products}">
                    <input type="hidden" th:field="*{products[__${iterStat.index}__].id}" />
                    <input type="hidden" th:field="*{products[__${iterStat.index}__].name}" />
                    <input type="hidden" th:field="*{products[__${iterStat.index}__].measure}" />
                    <input type="hidden" th:field="*{products[__${iterStat.index}__].qty}" />
<!--                    <div class="form-group">-->
<!--                        <label for="product-name" th:text="'Produkt ' + (iterStat.index + 1)"></label>-->
<!--                        <input type="text" class="form-control" th:field="*{products[__${iterStat.index}__].name}" placeholder="Nazwa produktu" required/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="product-measure">Miara</label>-->
<!--                        <input type="text" class="form-control" th:field="*{products[__${iterStat.index}__].measure}" placeholder="Miara produktu" required/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="product-qty">Ilość</label>-->
<!--                        <input type="number" step="0.01" class="form-control" th:field="*{products[__${iterStat.index}__].qty}" placeholder="Ilość produktu" required/>-->
<!--                    </div>-->
                </div>
            </div>

            <div class="form-group">
                <div th:each="vote, iterStat : ${recipeDto.votes}">
                    <input type="hidden" th:field="*{votes[__${iterStat.index}__].id}" />
                    <input type="hidden" th:field="*{votes[__${iterStat.index}__].rating}" />
                </div>
            </div>

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{rating}" />
            <input type="hidden" th:field="*{countVotes}" />


            <button type="submit" class="nice-button" style="float:left; margin-right: 16px">Zapisz</button>
            <a th:href="@{/admin/recipes/manage}" class="nice-button href-hover-gray" style="float:left; margin-right: 16px">Anuluj</a>
            <div style="clear:both"></div>
        </form>
    </main>
</div>

<footer th:replace="~{footer :: copy}"></footer>
</body>
</html>
